body{
    background-color: black;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                        " body body body"
                        "footer footer footer";
}

header, footer{
    background-color: rgb(37, 43, 49);
    color: #fff;
    text-align: center;
    height: 6rem;
    border-radius: 1rem;
    max-width: 750px;
    margin: 0 auto;
    
    

}

img{
    float: right;
     padding-top: 2rem;
     padding-right: 1.5rem;
 }