body{
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header"
                        " main"
                        "footer";
    grid-gap: 1.5rem;
}

header, footer{
    background-color: rgb(37, 43, 49);
    color: #fff;
    text-align: center;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 466px;

   
    
    

}
header{
    grid-area: header;

}
footer{
    grid-area: footer;
}


    /*font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Yesteryear', cursive;*/
main{
    display: grid;
    grid-template-columns: 1fr;
   
    grid-area: main;
    width: 80%;
    text-align: center;
}
section{
    background-color: gray;
    border: 1px solid
}
h3{
    
    color: white;
}
main img{
    height: 800px;
}
main p{
    text-align: left;
    padding-left: 1rem;
}
