
.banner-header {
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: green;
    width: 800px;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px auto;
    font-size: 50px;
    z-index: 0;

}

.photo {
    width: 175px;
    height: 200px;
    float: right;
    margin: 15px auto;
    padding-right: 550px;
    

}

.cit {
    color: black;
    background-color: white;
    width: 800px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-radius: 15px;
    margin: 15px auto;
    font-family: 'Merriweather Sans', sans-serif;
}

hr.rounded {
    Border-top: 8px solid black;
    border-radius: 15px;
    width: 800px;
}

.week {
    color: black;
    background-color: white;
    width: 800px;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px auto;
    font-family: 'Merriweather Sans', sans-serif;
}

footer {
    color: white;
    background-color: green;
    width: 800px;
    height: 100px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px auto;
    font-size: smaller;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;

}