@media (min-width:1007px) {
    
        main{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows:1fr;
        }
        header{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-column-start: 0;
            grid-column-end: span 2;
            font-size: medium;
            border-radius: 20px;
            padding: 10px;
            margin: 15px auto;
            min-width: 395px;
            color: white;
        }
        
        .Fitts{
            grid-column-start: 1;
            grid-column-end: span 1;
            grid-row-start:1;
            grid-row-end: span 1;
           
        }
        
        .WhiteSpace{ 
            grid-column-start:2;
            grid-column-end: span 1;
            grid-row-start:1;
            grid-row-end: span 1;
        }
        
        .Hicks{
            grid-column-start:3;
            grid-column-end: span 1;
            grid-row-start: 1;
            grid-row-end: span 1;
        }   
        footer {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-column-start: 0;
            grid-column-end: span 2;
            border-radius: 20px;
            padding: 10px;
            margin: 15px auto;
            min-width: 355px;
        }
    }
