

header{
    background-color: #cfdbd5;
    color: black;
    padding: 1px;
}
.header {

    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
  
    
  }
.tentPhoto{
    width: 175px;
    height: 200px;
    float: right;
    margin: 1px auto;
    padding-right: 0;
    background-color: #cfdbd5;
}
.homepage{
    text-emphasis: none;
    color: black;
    text-decoration: none;
}
.active{
    background-color: black;
    color:#F2BD2C;
    padding-top: 1rem;

}
nav{
    background-color: #333533ff;
    display:flex;

    
}
nav{
    flex: 1 1 100%;
    
	background-color: #36454f;
	text-align: center;
    box-shadow: 0 2px 15px gray;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
nav li{
    
    float: left;
    display: block;
    color: white;
    text-align: center; 
    padding: 14px 16px;
    text-decoration: none;
}
nav a{
    font-size: 2rem;
    color:#CFDBD5;
    padding: 1rem;
    display: inline-flex;
    text-decoration: none;

}
.navigation a:hover{
    color: #F2BD2C;
    background-color: black;
    box-shadow: 0 2px 15px gray;
    
 
    
    

}
h1{
    font-family: signika;
    font-weight: bold;
    font-weight: 700;

}
h2{
    font-family: signika;
    
    font-weight: 600;

}
h3{
    font-family: signika;
    
    font-weight: 500;

}
h4{
    font-family: signika;
    
    font-weight: 400;
}    
div{
    display: block;
    margin: 1px auto;
    border: 1px solid black;
    padding: 1px;
    background-color: #e8eddfff;
    color: #242423ff;

}
footer{
    text-align: center;
    font-family: signika, arial;
    background-color: #cfdbd5;
    color: black;
    padding: 1rem;
    padding-right: 1rem;
    padding-top: 1rem ;
    display: block !important;
    margin-top: 5rem;
    

}
.fa-bars{
    display:none;
}
.heroSection{
    
    height: 20rem;
    position: relative;
}
.hero{
    width: 100%;
    height: 20rem;
    padding-left: 0;
    padding-right: 0;
    background-color: #242423ff;
}
.titlepage{
    text-align: center;
    background-color:#cfdbd5;
    margin-top:0;
    margin-bottom: 0;
    padding-bottom:2rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 700;
}
.currentWeather {
	position: absolute;
	top: 13px;
	right: 50px;
	background: radial-gradient(#eee, #36454f);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .8;
}
.box{
    display:relative;
    height: 10rem;
    font-size: 25px;
    margin:0 !important;
    
}
.storyphoto{
    float:right !important;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid;
}
section.contact{
    background-color:#36454f;
    color: white;
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 10px;
    margin-top: 25px;
}
.socal{
    background-color:#36454f;
    color: white;
    padding-top: 1rem;
    padding-bottom: 0;
    padding-left: 10px;
    
    
}
.fa {
    padding: 1rem;
    font-size: 30px;
    width: 50px;
    text-align: right;
    text-decoration: none;
    margin: 5px 2px;
  }
.fa:hover {
    opacity: 0.3;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }

.map{
    float: right !important;
    padding-right: 0;
    width: 50%;
    height: 18.4rem;
    left: 20rem;
}
.weatherTable{
    padding-left:15rem;
    text-align:center;
    padding-top:1rem;
    padding-bottom: 1rem;
}
.banner{
    padding:15px;
    text-align:center;
    background-color: yellow;
    display:none;
   
    
   
}
.banner-content{
    background-color: yellow;
}
p{
 font-size: 1.1rem !important;
}

.sunIcon{
  font-size: 5rem;
}
.container{
    padding-top: 5rem;
}
.gallery{
    max-width: 400px;
    max-width: 400px;
    margin: 0 auto;
    
}
main {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img[data-src]{
    filter:blur(.01em);
}

img{
    border : 1px solid white;
    padding : 2px;
    filter: blur(0em);
}


