
header, footer{
    background-color: navy;
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    width: 300px;
    margin: 0 auto;
}
main{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}
picture img[data-src] {
    filter: blur(0.2em);
}

picture img{
    filter: blur (0em);
    transition: filter 1s;
}