@media only screen and (min-width: 781px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* change state in small view */
        flex: 1 1 auto;
    }

    .navigation a {
        text-align: center;
        font-size: 12px;
    }

    .navigation li:first-child {
        display: none;
    }

    main .thankyou {
        height: 25rem;

    }

    body .board {

        font-size: .9rem
    }

    footer iframe {
        float: left;
        display: inline;
        padding-right: 3rem;
    }

    .city,
    .homepage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1px;
        margin-left: 1rem;


    }

   
    .homepage section {
        width: 245px;
        text-align: center;
        background-color: #fff;
        
    }

    figure{
       
            width: 250px;
            margin: 5px !important;
           
        
    }
    figure h1,
    figcaption {
        font-size: .7rem;

    }

    figure img,
    figure iframe,
    .homepage section img {
        width: 235px;
        height: 235px;
    }

    .cards {
       
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .75rem;



    }

    .cards img {
        box-shadow: 7px 7px 7px 7px #767689, 7px 7px 7px 7px #989bab
    }

    header h1 {

        font-size: 30px;
    }
    header .iconvc {
        position: absolute;
        top: 20px;
        left: 20px;
     
    
        
    
    }
    .to{
        grid-template-columns: 1fr 1fr 1fr;


    }
    .weather{
    color: white;
    text-decoration: none;
    list-style: none;
   justify-content: space-around;
    display: flex;
   
        border: 1px solid #333;
        padding: 1rem;
        border-radius: 25px;
        max-width: 100%;
        overflow: hidden
    }
    .weather .day{
        padding: 2rem 5rem 2rem 5rem; 
    }
}