@media only screen and (min-width:550px) {

    footer div {
        padding-top: 20px;
        padding-left: 50%;

    }

    header h1 {

        font-size: 25px;
    }

    .board {
        display: flex;
       
     
        font-size: .5rem
    }
    .board section{
        padding: .5rem;
    }
    header .iconvc {
        position: absolute;
        top: 15px;
        left: 10px;
        width: 130px;
    
        
    
    }
    .city,
    .homepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;


    }
.to{
  grid-template-columns: 1fr 1fr
}
    figure,
    .homepage section {
        width: 245px;
        text-align: center;
        background-color: #fff;
        margin: 15px;
    }

    figure h1,
    figcaption {
        font-size: .7rem;

    }

    figure img,
    figure iframe,
    .homepage section img {
        width: 235px;
        height: 235px;
    }

    .cards {
    
        grid-template-columns: 1fr 1fr;
        grid-gap: .75rem;



    }

    .cards img {
        box-shadow: 7px 7px 7px 7px #767689, 7px 7px 7px 7px #989ba9;



    }
    

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */


        
    
        
    
}