@media only screen and (min-width: 64em) {

    header,
    footer {
        margin: 0 auto;
        padding: .5rem;
        max-width: 70%;

    }
    .banner h1{
        font-size: 25px;
    }
    .banner h2{
        font-size: 23px;
    }

    nav ul{
        float: left;
    }
    nav ul.hide{
        display:block;
    }

    nav  button{
        display: none;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        padding: .6rem 1rem;
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    }
    header img {
        float: left;
        padding-top: 0;

    }
 
    .heroImage{
        max-width: 103%;
        
    }
    main {
        margin: 0 auto;
        max-width: 70%;
    }

    main header {
        margin: 0 auto;
        max-width: 70%;
    }

    footer {
        max-width: 70%;

    }

    header h4{
        letter-spacing: 1pt;
        
        font-size: 2rem;
       
    }
    header div{
        font-size: 1rem;
    }

    h6 {
        font-size: 1.5em;
    }








}




