@media only screen and (min-width: 600px) {


    header,
    footer {
        margin: 0 auto;
        padding: .5rem;

        max-width: 70%;
    }


    .banner {
        max-width: 70%;
        margin: 0 auto;
        padding: .5rem;
        line-height: 1rem;



    }

    .weatherSummary {

        left: 35px;



    }

    .hero-container {
        position: relative;
        max-width: 960rem;

    }

    .heroImage {
        max-width: 124%;
        margin-left: 0;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner h2 {
        font-size: 18px;
    }

    header img {
        float: left;
        padding-top: 0;
    }

    nav {
        width: 70%;
    }

    main {
        margin: 0 auto;
        max-width: 70%;
    }

    main header {
        margin: 0 auto;
        max-width: 70%;
    }

    footer {
        max-width: 70%;
        font-size: 1rem;

    }

    header h4 {
        letter-spacing: 1pt;
        line-height: 2rem;
        font-size: 1.5rem;

    }

    header div {
        font-size: 1rem;
    }

    h6 {
        font-size: 1.5em;
    }

    .article {
        height: 285px;
        padding-left: .75rem !important;
    }
.article h2{
    font-size: 1rem;
}
    .imgArticle {
        width: 150px;
        float: left;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;

    }

    .article p {
        font-size: .65rem;
        margin: .5rem auto;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .futureweather {
        display: flex;
        height: 900px !important;
        width: 70%;
        justify-content: space-between;
        align-items: center;
        margin-left: 2rem;
        text-align: center;



    }

    .futureweather img {
        width: 80px;
    }

    .futureweather div {
        border: 1px solid blue;
        padding: 2px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
        background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 87, 153, 0.8) 15%, rgba(30, 87, 153, 1) 19%, rgba(30, 87, 153, 1) 20%, rgba(41, 137, 216, 1) 50%, rgba(30, 87, 153, 1) 80%, rgba(30, 87, 153, 1) 81%, rgba(30, 87, 153, 0.8) 85%, rgba(30, 87, 153, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#001e5799', GradientType=0);
        /* IE6-9 */

    }
    .gallery{
        grid-template-columns: 1fr 1fr;
        width: 70%;
        
    }

   .home .cards section{
       display:grid;
       grid-template-columns:1fr 1fr;
       margin-top: 1px;
       margin-bottom: 1px;

    }
    .home .cards section img{
        grid-column: 1/2;
        grid-row: 2/5;                   
    }
 
    .home .cards section p{
        text-align: center;
        grid-column: 2/3;
        
    }
    .home .cards1 section{
        display:grid;
        grid-template-columns: 1fr 1fr;
        

    }
    .home .cards section h2, .home .cards section h6{
        grid-column: 2/3;
        
    }
    .home .cards1 section p{
        text-align: center;
        grid-column: 1/2;
    }
    .home .cards1 section img{
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .home .cards1 section h2, .home .cards1 section h5{
        grid-column: 1/2;
        
    }
    .home .cards2 section{
        grid-template-columns: 1fr 1fr;
        display:grid;
        
    }
    .home .cards2 section p{
        text-align: center;
        grid-column: 2/3;       
        
    }
    .home .cards2 section img{
        grid-column: 1/2;
        grid-row: 2/5;
    }
    .home .cards2 section h2, .home .cards2 section h6{
        grid-column: 2/3;
        
    }
    .gallery{
        margin-left: 5rem;
        width: 70%
    }
    .gallery figure{
        width: 150px;
    }
    .gallery img{
        width: 95%;
    }
}