@media screen and (min-width: 760px) {
 main{
     grid-template-rows: 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr;
 }
 main .mer{

    width: 800px;
  
    
    
}
main .noto{
  
    width: 800px;
   
    
    
}
main .typ{
 
    width: 800px;
}
.card{
width: 1fr;
   border: none;
    
}
.card img{
    width: 250px;
    
}
.sitepurpose{
    width: 780px;
    

}
.purposestatment{
    width: 760px;
  
}
}