@media only screen and (min-width: 60em) {
 main p{
     text-align: center;
 }
 main .mer{

    width: 800px;
    text-align: center;
  
    
    
}
main .noto{
  
    width: 800px;
   
    text-align: center;
    
}
main .typ{
 
    width: 800px;
    text-align: center;
}
.target{

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .75rem;
}
.card{
    width: 300px;
}
.card img{
    width: 250px;
    
}
.sitepurpose{
    width: 350px;
    

}
.purposestatment{
    width: 350px;
  
} 



header, footer, main, nav{
    max-width: 80%;
    margin: .5rem auto;
}
header, footer{
    background-color: rgb(37, 43, 49);
    color: #fff;
    text-align: center;
    font-size:16px;
    font-family: 'Merriweather', sans-serif;
    line-height: 1rem;
    word-spacing: normal;
 
    

}

header img{
    width: 100px;
    margin-top: 10px;
    justify-self: left;
}


article:nth-child(3) {
    grid-column: span 1;
}
.color-scheme {
    width: 780px;
}
nav ul li a{
    font-size: 1.4rem;
}
h1{
    
    font-size: 32px !important;
    margin-top: -5rem !important;
}
.target .card{
    width: 310px;
    height: 310px;
    
}
.target img{
        width: 30%;
}
}