@media screen and (max-width: 760px) and (min-width: 467px) {
    main .mer{

        width: 520px;
      
        
        
    }
    main .noto{
      
        width: 520px;
       
        
        
    }
    main .typ{
     
        width: 520px;
    }

}