@media only screen and (min-width: 38em) {
    main .mer{

        width: 520px;
      
        
        
    }
    main .noto{
      
        width: 520px;
       
        
        
    }
    .card{
        width: 200px;
    }
    main .typ{
        margin: 0 auto;
        width: 520px;
    }

	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}

    .target{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr
    }
    .target .card{
        margin: 0 auto;
    }
    header, footer, main, nav{
        max-width: 80%;
        margin: 0 auto;
    }
    header, footer{
        background-color: rgb(37, 43, 49);
        color: #fff;
       
        height: 8rem;
        padding-top: 0;
        padding-bottom: 0;
        
        font-family: 'Merriweather', sans-serif;
    
       
        
        
    
    }
    header img{
        width: 100px;
        justify-content: right;
        
       
    }
    header h1{
        font-size:16px;
     
        margin-top: -5rem;
    }
    nav ul{
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
       
    }
   nav ul li{
       display: inline-block;
       font-size: .75rem;
   }
   nav ul li a{
       font-size: .67rem;
   }
}
