body{
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header"
                        " main"
                        "footer";
    grid-gap: 1.5rem;
    font-size: 16px;

}
a{
    color: hsl(198, 100%, 88%);
}
header, footer, nav, main{
    max-width: 800px;
    margin: auto;
}
header, footer{
    background-color: rgb(37, 43, 49);
    color: #fff;
    text-align: center;
    height: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    font-family: 'Merriweather', sans-serif;

   
    
    

}
header{
    grid-area: header;

}
footer{
    grid-area: footer;
    text-decoration: none;
}

nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 0 2px 15px gray;
    padding: 10px 10px 10px 10px;
    
}
nav ul {
    display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0rem;
	overflow: hidden;
    justify-content: space-around;
    
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
	font-size: 0.95rem;
   

}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
    
    
}
.active {
	color: yellow;
    
}

    /*font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Yesteryear', cursive;*/

section{
    background-color: #404040;
    border: 1px solid;
    font-family: 'Alegreya Sans', sans-serif
    
}
h3{
    
    color: white;
}

main img{
    width: 302px;
  
}
main p{
    text-align: center;
    padding-left: 1rem;
    color: #b8fdeb;
}
.color-scheme {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;

    
    

}
main .typ{
    grid-row-start: 1;
    text-align: center;
    width: 344px;
}
main .mer{
    grid-row-start: 2;
    font-family: 'Merriweather', serif;
    color: white;
    width: 344px;
    text-align: center;
    
    
}
main .noto{
    grid-row-start: 3;
    color: white;
    width: 344px;
    text-align: center;
    font-family: Noto Serif, serif;
    
    
}
a{
    text-decoration: none;
}
.sitepurpose{
    grid-row-start:1;
    text-align: center;
    

}
.purposestatment{
    grid-row-start:2;
    text-align: center;
  
}
.card{
    margin: 1rem 1rem 1rem 1rem;
    border: 1px solid red;
   
    
}
.card img{
    
    flex: 1;
}