body{
    background-color: black;
    font-size: 16px;
    margin:0;

}
a{
    color: hsl(198, 100%, 88%);
}
header,nav, footer, main{
    max-width: 800px;
    margin: 0 auto;
    font-size: 12px;
}
header, footer, main{
	background-color: rgb(37, 43, 49);
	display: flex;
	flex-flow: column;
	align-items: center;
	color: white;
	padding: 1px;
    gap: 1px;
    margin: 0;
    font-family: 'Merriweather', sans-serif;
}    

    
    


header img{
    width: 50px;
    margin-left: auto;
}
header{
    margin-top: 0;
    margin-right: 0;
}
footer{
    text-decoration: none;
    text-align: center;
}







nav {
	background-color: #36454f;
	text-align: center;
	box-shadow: 8px 2px 15px gray;
    font-size: 20px;
    padding: 1rem
    
    
   
 
    
}
nav ul {
   
	list-style-type: none;
    padding-right: 1rem;
    padding-left: 1rem;
	overflow: hidden;
    line-height: 3rem;
    word-spacing: 5rem;
    
    
    
    
    
    
    
    
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
    
	text-decoration: none;
   
    font-size: 1rem;
    
   
    
   

}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
    
    
}
.active {
	color: red;
    
}









h3{
    
    color: white;
}

main img{
    width: 30%;
  
}
main p{
    text-align: left;
    
    color: #b8fdeb;
}
.color-scheme {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
    
    
main{
    background-color: navy;
}

main .typ{
    grid-row-start: 1;
    text-align: center;
    width: 344px;
}
main .mer{
    grid-row-start: 2;
    font-family: 'Merriweather', serif;
    color: white;
    width: 344px;
    text-align: center;
    
    
}
main .noto{
    grid-row-start: 3;
    color: white;
    width: 344px;
    text-align: center;
    font-family: Noto Serif, serif;
    
    
}
a{
    text-decoration: none;
}
.sitepurpose{
    
    text-align: center;
    

}
.purposestatment{
    
    text-align: center;
  
}
.card{
    text-align: center;
    
    border-color: gray transparent;
    border: 1px solid
    
}


section{
    background-color: #404040;
    border: 1px solid;
    font-family: 'Alegreya Sans', sans-serif
    
}